.list-bar-container {
  position: relative;
}
.list-bar {
  border-radius: $border-radius-primary;
  background-color: $list-bar-color;
  color: $color-primary-dark-teal;
  @include shadow-primary;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  // z-index: 0;

  width: 100%;
  min-height: $list-bar-height;
  line-height: 1;
  position: relative;
  margin-bottom: $list-bar-margin-bottom;
  // overflow: hidden;
  padding: $list-bar-padding;

  &--warning{
    padding: $list-bar-padding  - $deviation-border;
    @include warning;
  }

  &--warning-span {
  font-size: 1.3rem;
  width: 100%;
  text-align: left;
  display: block;
  position: absolute;
  bottom: 3px;
  color: $color-warning-primary;
  padding: 2px;
  padding-left: 1.5rem;
  border-radius: $border-radius-primary $border-radius-primary 0  0;
  }

  &--black-translucent {
    background-color: $color-image-overlay-background;
  }

  &--tall {
    padding: ($list-bar-padding * 2);
    min-height: ($list-bar-height * 2);
    flex-direction: column;
    justify-content: center;
  }

  &--inline-items {
    display: flex;
    flex-wrap: nowrap;

    &--square {
      flex-basis: $list-bar-height;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    vertical-align: middle;
    margin: 0;

    @include list-bar-heading-primary;

    &--large {
      @include modal-header-primary;
      text-align: center;
      margin: 0 !important;
    }

    &--warning{
      @include warning;
      border: none;
      margin: 0 !important;
    }

  }

  &__sub-heading {
    @include list-bar-sub-heading;
    vertical-align: middle;
    white-space: pre-wrap;
    margin: 0;

    &--warning{
      color: $color-warning-info-text;
    }
  }

  &__info {
    @include list-bar-info;
    margin-bottom: 0 !important;

    &--warning{
      color: $color-warning-info-text;
    }

    &--bold {
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  &__link {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;


    &--short{
      flex-basis: 80% !important;
    }
  }

  &__warning-flag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-primary - $deviation-border 0 0 $border-radius-primary - $deviation-border;
    color: white;
    background-color: $color-warning-primary;
    background-image: linear-gradient(135deg, #ff3b3b, #ff7f00);
    height: 100%;
    width: 15%;
    max-width: $list-bar-height;
    margin-left: -$list-bar-padding;

    &__content {
      margin: 0;
      font-size: 3rem;
      color: currentColor;
    }

    &--spacer {
      flex: 1 1 15%;
      width: 15%;
      max-width: $list-bar-height;
      margin-right: $list-bar-padding;
    }
  }


    &__log-item {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius-primary - $deviation-border 0 0 $border-radius-primary - $deviation-border;
      color: white;
      height: 100%;
      width: 25%;
      max-width: $list-bar-height;
      margin-left: -$list-bar-padding;

      &__content {
        margin: 0;
        font-size: 3rem;
        color: $color-primary-dark-teal;
      }

      &--image {
        width:100%;
        margin-left: 2rem;
      }

      &--spacer {
        flex: 1 1 25%;
        width: 25%;
        max-width: $list-bar-height;
        margin-right: $list-bar-padding;
      }
    }

  &__text-container {
    display: flex;
    flex-basis: 90%;
    // flex-shrink:
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
  }

  &__task{

    &--overdue {
      @include warning;
    }
  }

  &__product{
    position: relative;
    display: flex;
    width: 100% !important;
    min-height: 20rem;
    padding: 0;
    justify-content: flex-start;
    align-items: stretch;

    &-heading-and-edit{
      display: flex;
      justify-content: space-between;
    }

    &-title {
      @include list-bar-heading-primary;
    }

    &-text {
      text-align: left;
      padding: $list-bar-padding;
      flex-grow: 1;
    }

    &-description {
      @include list-bar-info;
    }

    &-image {
      align-self: stretch;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;

      border-radius: $border-radius-primary 0 0 $border-radius-primary;

      background-color: darkgrey;background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &--large {
        min-height: 40vh;
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    padding: $list-bar-padding;
    color: $color-primary-dark-teal;
  }

  &__report {

    // padding: $list-bar-padding;
    color: $color-primary-dark-teal;
  }

  &__edit {
    display: flex;
    position: relative;
    // flex-basis: 5rem;
    align-items: center;
    justify-content: center;
    // z-index: 1000;
  }
  &__cancel {
    height: 1.25rem;
  }
  &__arrow {
    // display: flex;
    // flex-basis: 5rem;
    // align-items: flex-end;
    // justify-content: center;
    // background-color: orangered;
    fill: currentColor;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__tick-box{


    &__input {
      display: none;
    }

    &__label {
      box-sizing: content-box;
      width: 1.8rem;
      height: 1.8rem;
      // background-color: cyan;
      border: .2rem solid currentColor;
      border-radius: 0%;
      margin: 0;
      margin-left: 1rem;

      // &:focus,
      // &:active {
      //   background-color: $color-primary-dark-teal;
      // }
    }

    &__input:checked ~ &__label::after {
      width: 1rem;
      height: 1rem;
      position: absolute;
      transform: translate(-70%, 35%);
      content: "";
      border-radius: 0%;
      background-color: currentColor;
    }
  }

  &__icon {
    position: relative;
    // z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $list-bar-padding;
    fill: currentColor;
    cursor: pointer;

    &--logout {
      @include list-bar__info;
      flex-shrink: 0;
    }
  }

  &__temperature {
    flex-shrink: 0;
    align-self: center;
    font-size: 3rem;

    &--deviation {
      color: $color-warning-primary;
    }
  }

  &__click-overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}
