.moose {  /* Yes, Moose. Because 'modal', 'popup' and everything else that made sense was taken by bootstrap... #technicaldebt*/
  position: fixed;
  // z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;

  &__background {
    position: fixed;
    // z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: $color-modal-background;

    @supports ((backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px))) {
      background-color: $color-blurred-modal-background;
      -webkit-backdrop-filter: blur(5px);
    }

    &--menu {
      position: fixed;
      // z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      text-align: center;

      background-image: linear-gradient(to bottom right, $color-primary-teal, $color-primary-lime);
    }
  }

  &__header {
    width: 100%;
    // z-index: 2;
    min-height: 11rem;
    background-color: $color-modal-header;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    padding-top: 4.2rem;  // extra padding for status bar on iphone
    padding-bottom: 1.2rem;

    // remove extra padding on larger displays
    @media (min-width: 770px) {
      min-height: 8rem;
      padding: 1.2rem 0;
    }

    @include shadow-primary;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;

      flex: 1 1;
      padding: 0 2rem;

    }

    &-title {
      @include modal-header-primary;
    }

    &-info {
      margin: 0 !important;
      text-align: left;
      &__date {
        white-space: nowrap;
      }
      @include modal-subheading;
    }

    &-close-button {
      display: flex;
      flex-basis: 5rem;
      margin-right: 1rem;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &__content {
    position: relative;
    flex-grow: 1;
    // max-width: $ui-content-max-width;
    padding: 4.4rem $side-gutters;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &--menu {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__footer-button {
    cursor: pointer;
    position: relative;
    width: 100%;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.5rem;
    @include gradient-main;
    &-text {
      @include modal-button-text-primary;
    }

    &--warning {
      @include gradient-warning;
    }
  }
}

.menu-moose {
  position: fixed;
  // z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;

  &__background {
    position: fixed;
    // z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(to bottom right, $color-primary-teal, $color-primary-lime);
  }

  &__content {
    position: relative;
    flex-grow: 1;
    max-width: $ui-content-max-width;
    padding: 4.4rem $side-gutters;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
.order-details {
  color: black;
}

//
//    ###    ##    ## #### ##     ##    ###    ######## ####  #######  ##    ##
//   ## ##   ###   ##  ##  ###   ###   ## ##      ##     ##  ##     ## ###   ##
//  ##   ##  ####  ##  ##  #### ####  ##   ##     ##     ##  ##     ## ####  ##
// ##     ## ## ## ##  ##  ## ### ## ##     ##    ##     ##  ##     ## ## ## ##
// ######### ##  ####  ##  ##     ## #########    ##     ##  ##     ## ##  ####
// ##     ## ##   ###  ##  ##     ## ##     ##    ##     ##  ##     ## ##   ###
// ##     ## ##    ## #### ##     ## ##     ##    ##    ####  #######  ##    ##


.modal-header{

  &-enter {
  }

  &-enter-active {
  animation: drop-in $default-animation-duration cubic-bezier(0, .75, .5, 0);
  }

  &-leave {
  }

  &-leave-active {
    animation: pop-out $default-animation-duration cubic-bezier(0, .5, 1, 1);
  }
}








.modal-background{

  &-enter {
  }

  &-enter-active {
    animation: fade-in-blur $default-animation-duration linear;
  }

  &-leave {
  }

  &-leave-active {
    animation: fade-out-blur $default-animation-duration linear;
  }
}







.modal-content{

  &-enter {
  }

  &-enter-active {
    animation: scale-in $default-animation-duration ease-in;
  }

  &-leave {
  }

  &-leave-active {
    animation: scale-out $default-animation-duration cubic-bezier(0, .75, .5, 0);
  }
}

.modal-content--menu{

  &-enter {
  }

  &-enter-active {
    animation: scale-in-up $default-animation-duration ease-in;
  }

  &-leave {
  }

  &-leave-active {
    animation: scale-out-down $default-animation-duration cubic-bezier(0, .75, .5, 0);
  }
}







.modal-footer{

  &-enter {
  }

  &-enter-active {
  animation: pop-in $default-animation-duration cubic-bezier(0, .75, .5, 0);
  }

  &-leave {
  }

  &-leave-active {
    animation: drop-out $default-animation-duration cubic-bezier(0, .5, 1, 1);
  }
}

@keyframes fade-in-blur {
  0% {
    opacity: 0;

    @supports ((-webkit-backdrop-filter: blur(1px)) or
               (backdrop-filter: blur(1px)) or
               (-moz-backdrop-filter: blur(1px)) or
               (-o-backdrop-filter: blur(1px)) or
               (-ms-backdrop-filter: blur(1px))
    ){

      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      -moz-backdrop-filter: none;
      -o-backdrop-filter: none;
      -ms-backdrop-filter: none;
    }
  }

  100% {
    opacity: 1;

    @supports ((-webkit-backdrop-filter: blur(1px)) or
               (backdrop-filter: blur(1px)) or
               (-moz-backdrop-filter: blur(1px)) or
               (-o-backdrop-filter: blur(1px)) or
               (-ms-backdrop-filter: blur(1px))
    ){
      background-color: $color-blurred-modal-background;

      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      -moz-backdrop-filter: blur(5px);
      -o-backdrop-filter: blur(5px);
      -ms-backdrop-filter: blur(5px);
    }
  }
}

@keyframes fade-out-blur {
  0% {
    opacity: 1;

    @supports ((-webkit-backdrop-filter: blur(1px)) or
               (backdrop-filter: blur(1px)) or
               (-moz-backdrop-filter: blur(1px)) or
               (-o-backdrop-filter: blur(1px)) or
               (-ms-backdrop-filter: blur(1px))
    ){
      background-color: $color-blurred-modal-background;

      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      -moz-backdrop-filter: blur(5px);
      -o-backdrop-filter: blur(5px);
      -ms-backdrop-filter: blur(5px);
    }
  }

  100% {
    opacity: 0;

    @supports ((-webkit-backdrop-filter: blur(1px)) or
               (backdrop-filter: blur(1px)) or
               (-moz-backdrop-filter: blur(1px)) or
               (-o-backdrop-filter: blur(1px)) or
               (-ms-backdrop-filter: blur(1px))
    ){

      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      -moz-backdrop-filter: none;
      -o-backdrop-filter: none;
      -ms-backdrop-filter: none;
    }
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-100%) scaleY(1);
  }

  50% {
     transform: scaleY(1)
  }

  75% {
    transform: translateY(10%) scaleY(1.2);
  }

  100% {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes drop-out {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%) scaleY(1.2);
  }

  100% {
    transform:translateY(100%);
  }
}

@keyframes pop-in {
  0% {
    transform: translateY(100%);
  }

  50% {
     transform: scaleY(1)
  }

  75% {
    transform: translateY(-10%) scaleY(1.2);
  }

  100% {
    transform:translateY(0) scaleY(1);
  }
}

@keyframes pop-out {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%) scaleY(1.2);
  }

  100% {
    transform:translateY(-100%);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.5);
    // transform: translateY(20%);
    opacity: 0;
  }
  50% {

  }

  75% {

    transform: scale(1.1);
    // transform: translateY(-1%);
  }

  100% {
    transform: scale(1);
    opacity: 1;
      // transform: translateY(0);
  }
}

@keyframes scale-in-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {

  }

  75% {

    transform:  translateY(-5%);
  }

  100% {
    transform:  translateY(0);
    opacity: 1;
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes scale-out-down {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
