.default-tabs {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    &_active {
      color: white;
      font-weight: 600;
    }
    &:hover {

      color: white;
    }
    &:focus {
      outline: none;

      color: white;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    background-color: black;
    transition: transform 0.4s ease, width 0.4s ease;
  }
}
.content {
  margin-top: 30px;
  font-size: 20px;
}
