.u-flex-col {
  display: flex;
  flex-direction: column !important;
}

.u-width-100 {
  width: 100% !important;
}

.u-margin-right-default {
  margin-right: 1.5rem;
}

.u-margin-left-default {
  margin-left: 1.5rem;
}

.u-margin-left-2 {
  margin-left: 2rem;
}

.u-margin-bottom-default {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 3.5rem;
}

.u-margin-bottom-3.5rem {
  margin-bottom: 3.5rem;
}

.u-padding-top-15 {
  padding-top: 1.5rem;
}

.u-padding-bottom-50 {
  padding-bottom: 5rem !important;
}

.u-padding-bottom-60 {
  padding-bottom: 6rem !important;
}

.u-flex-justify-center {
  justify-content: center !important;
}

.u-text-align-center {
  text-align: center;
}

.u-negative-margin-top-4rem {
  margin-top: -4rem;
}

.u-click-through {
  pointer-events: none;
}

.u-z-index-10 {
  z-index: 10;
}
